body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.containe {
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter:blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #fff;
}

p {
  font-size: 24px;
  color: #fff;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#options button:hover {
  background: rgba(255, 255, 255, 0.5);
}

#next-button {
  background: #4caf50;
  color: #fff;
  border: none;
}

#next-button:hover {
  background: #45a049;
}